*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --NBC:rgb(19, 25, 33);
    --NC: white;
    --SBC:rgb(254, 189, 105);
    --cart-count-color:rgb(240, 136, 4);
    --product-border: 1px solid rgb(231, 231, 231);
    --rating-count-color:rgb(1, 124, 182);
    --shadow-color:0 2px 5px rgba(213, 217, 217, 0.5);
    --add-cart-color:rgb(255, 216, 20);
    --add-cart-color-hover: hsl(50, 100%, 40%);
}
.header{
    display: flex;
    height: 60px;
    background-color: var(--NBC);
    align-items: center;
    justify-content: space-between;
    color: var(--NC);
    padding: 0 15px;
    position: fixed;
    top:0;
    right: 0;
    left:0;
    z-index: 1;
}
.header a{
    color: var(--NC);
    text-decoration: none;
    cursor: pointer;
}
.header__left-section{
    padding: 10px;
}
.header__middle-section{
    flex: 1;
    max-width: 850px;
    margin:0, 10px;
    display: flex;
    align-items: center;
}
.header__search-bar{
    flex: 1;
    width: 0;
    height: 38px;
    font-size: 16px;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.header__search-button{
    background-color: var(--SBC);
    width: 45px;
    height: 38px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;   
}
.header__search-button:hover{
  background-color: hsl(34, 99%, 65%);;
}
.header__right-section{
    display: flex;
    align-items: center;
    padding: 20px;
    gap:20px;
}
.header__return-text{
    font-size: 13px ;
    display: block;
}
.header__order-text{
    font-weight: bold;
    font-size: 15px;
    display: block;
}
.header__cart-count{
    position: absolute;
    top:4px;
    left:16px;
    color: var(--cart-count-color);
    font-size: 16px;
    font-weight: 700;
    width: 26px;
    text-align: center;
}
.header__cart-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main{
    position: relative;
    top:60px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
@media (max-width: 2000px) {
    .main {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  @media (max-width: 1600px) {
    .main {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  @media (max-width: 1300px) {
    .main {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (max-width: 1000px) {
    .main {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    .main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 575px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 450px) {
    .main {
      grid-template-columns: 1fr;
    }
  }
.main__product{
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    padding: 40px 25px 25px 25px;
    border-right: var(--product-border);
    border-bottom: var(--product-border);
}
.main__product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}
.main__product-img{
    width:100%;
    height:100%;
}
.main__product-name{
    height: 40px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.main__product-rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main__rating-stars{
    width: 100px;
    margin-right: 6px;
}
.main__rating-count{
    color: var(--rating-count-color);
    cursor: pointer;
    margin-top: 3px;
}
.main__product-cost{
    font-weight:700 ;
    margin-bottom: 10px;
}
.main__quantity{
    margin-bottom: 17px;
}
.main__product-quantity{
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: var(--shadow-color);
}
.main__add-cart-button{
    background-color: var(--add-cart-color);
    border: 1px solid var(--add-cart-color);
    border-radius: 50px;
    padding: 8px;
    width: 100%;
}
.main__add-cart-button:hover{
  background-color: var(--add-cart-color-hover);
  border: 1px solid var(--add-cart-color-hover);
}
.main__product-added{
    color:green;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    height: 20px;
}
.display-added{
  opacity: 1;
}
.no-products{
  margin: 100px;
  font-weight: 700;
  width: 100%;
}
.choose-size{
  height: 20px;
  display: flex;
  gap: 10px;
}
.size-button{
  width: 30px;
  height: 20px;
}
.selected-size{
  border:2px solid var(--add-cart-color);
  font-weight: 700;
}